<div class="panel-primary col-sm-10 col-sm-offset-2">
	<div class="panel-heading">
		<button type="button" class="btn-info" data-toggle="modal"
			data-target="#myCreateModal">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
	</div>
	<div class="panel-body">
		<div ng-repeat="model in ctrl.modelData"
			class="panel-default col-sm-2 griditem">
			<div class="panel-heading">{{model.modelHeader}}</div>
			<div class="panel-body">{{model.modelPk}}</div>
			<!--<span ng-bind-html="ctrl.badHTML"></span>-->
			<div class="panel-footer">
				<button type="button" class="btn-link" data-toggle="modal"
					data-target="#myEditModal"
					ng-click="ctrl.getModel(model.modelPk)">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
				<button type="button" class="btn-link" data-toggle="modal"
					data-target="#myDeleteModal"
					ng-click="ctrl.getModel(model.modelPk)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</div>
		</div>
	</div>
</div>
