<!-- Modal -->
<div id="myDeleteModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="ctrl.resetFlag()"
					data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Delete</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure?</p>
			</div>
			<div class="modal-footer">
				<div class="alert alert-danger fade in ng-hide"
					ng-show="ctrl.showCreateAlert">Deleted successfully !</div>
				<button type="button" class="btn btn-danger"
					ng-click="ctrl.deleteModelItem(ctrl.PrimaryKey)">Delete</button>
				<button type="button" class="btn btn-default"
					ng-click="ctrl.resetFlag()" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>
